.sections {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-section .MuiTypography-root {
	opacity: 0;
	transition: all 2s;
	filter: blur(5px);
	transform: translateX(-150%);
}

.text-section.show .MuiTypography-root {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}
